.button {
    font: 700 16px 'Poppins', sans-serif;
    width: 333px;
    height: 69px;
    left: 257px;
    top: 673px;
    background: #7F0BA4;
    color: #fff;
    cursor: pointer;
    border-radius: 9px;
    border-width: 0px;
    
    &:hover {
        filter: brightness(0.9);
    }
}