* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body , input, button, textarea {
    font: 400 16px 'Poppins', sans-serif;
}

@font-face {
	font-family: Proxima;
	src: url(../assets/font/proxima_nova_reg-webfont.ttf)
}

.text-center {
    text-align: center;
}

.mt-30 {
    margin-top: 30px;
}