.input {
    height: 60px;
    width: 762px;
    left: 570px;
    top: 901px;
    border-radius: 32px;
    background: #F6F6F6;
    border: none;
    padding-left: 50px;
}

.buttonSend {
    background: #7F0BA4;
    color: #fff;
    border-width: 0px;
    height: 54px;
    width: 54px;
    border-radius: 50px;
}