.box-message-me {
    // position: absolute;
    width: 629px;
    height: 239px;
    padding: 40px 60px;
    left: 570px;
    top: 181px;
    background: #EFEFEF;
    border-radius: 10px 10px 10px 0px;
}

.message-txt {
    font-family: Proxima;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #666565;
}